<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css"
    integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
  <title>Developer Claims</title>
</head>
<body>
  <main style="display: flex; flex-direction: column; align-content: center; justify-content: center; text-align: center;">
    <h1><%- claim.tagline %></h1>
    <% if (claim.subline) { %>
      <h2><%- claim.subline %></h2>
    <% } %>
    <% if (claim.image) { %>
      <img src="<%- claim.image %>" alt="<%- claim.tagline %> description">    
    <% } %>
  </main>
</body>
</html>